{% extends 'TipddyUpvFormBundle::layout.html.twig' %}

{% block body %}
  <div id="contenedor_m">
     <div id="mensaje"><p>Estamos muy felices de recibir tu registro. Para cualquier consulta escribir al administrador Jhon Broughton: jbroughton@upv.cl</p>
     </div>
  </div> 
{% endblock %}
